  /* Config Header */
        
  @media(min-width: 992px){
    #header #header-int{
        /*cor do background*/
        background: rgb(3,116,14);
        background: linear-gradient(0deg, rgba(3,116,14,1)9%, rgba(3,79,10,1) 10%);
        height: 130px;
    }
    
    #header img{
        /* editando a localização da logo da agro */
        margin-top: -15%;
        margin-bottom: -7.5%;
        margin-left: 20%;
        
    } 
}

@media(max-width: 991px){
    #header #header-int{
        /*cor do background*/
        background: rgb(3,116,14);
        background: linear-gradient(0deg, rgba(3,116,14,1) 11%, rgba(3,79,10,1) 12%);
        height: 20%;
    }
    
    #header img{
        /* editando a localização da logo da agro */
        margin-top: -15%;
        margin-bottom: -7.5%;
        margin-left: 20%;
        
    } 
}

/*config navbar*/   

@media(min-width: 992px){

    #header #navbar #nav{
    /* definindo a cor e o tipo de fonte do texto dos links da navbar */
        color: #fff;
        font-family: arial;
        
    }  
    

    #header #navbar a h1{
        /* definindo o tamanho do texto dos links da navbar */
        font-size: 1.9em;
    }

    #itens-navbar{
        /* editando o visual dos itens da navbar  */
        margin-top: 1%;
        margin-right: 8%;
        margin-left: 9%;
        border-top: 2px solid #034F0A;
        border-bottom: 2px solid #034F0A;
        border-right: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }

    #header #navbar #nav:hover{
        /* colocando o brilhinho quando passa o mouse em cima */
        color: #FFF086;
    }  


    #header #login{
        /*editando o visual do butão de login*/
        font-size: 1.2em;
        font-family: arial;
        margin-top: 15px;
        margin-right: 3%;
        width: 150px;
    }

    #header #login #link {
        /* tirando a decoração do link */
        text-decoration: none; 
        color:#fff;
    }

    #header #login #link:hover{
        /* colocando o brilhinho quando passa o mouse em cima */
        color: #FFF086;
    } 
    
    #pag_up{
        /*dando um espaço do header para a pagina*/
        margin-bottom: 8%;
        
    }

}

@media(max-width: 991px){

    #header #navbar #nav{
        /* definindo a cor e o tipo de fonte do texto dos links da navbar */
        color: #222;
        font-family: arial;
       
    }  

   
    
    #header #navbar a h1{
        /* definindo o tamanho do texto dos links da navbar */
        font-size: 1.2em;
    }
    #header #offcanvasNavbarLabel{
        color: #888;
    }
    #header #navbar #nav:active, #header #login #link    {
        /* colocando o brilhinho quando passa o mouse em cima */
        color: #FFF086;
    }  

    #header #login{
        /*editando o visual do butão de login*/
        font-size: 1.2em;
        font-family: arial;
        margin-top: 20%;
    }

    #header #login #link {
        /* tirando a decoração do link */
        text-decoration: none; 
        color: #222;
        
    }

    #pag_up{
        margin-bottom: 8%;
    }
}


/*footer config*/
@media(min-width: 992px){
    
    #footer {
        background: rgb(3,79,10);
        background: linear-gradient(0deg, rgba(3,79,10,1) 93%, rgba(3,116,14,1) 94%);
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    #footer #cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Layout de 2 colunas */
        grid-gap: 20px; /* Espaçamento geral entre os itens */
        column-gap: 40px; /* Espaçamento lateral maior entre colunas */
        margin-bottom: 7%;
    }
    
    #footer #titulo {
        font-size: 1.4em;
        color: white;
        margin-bottom: 13%;
    }
    
    #footer #logo img {
        margin-top: -15px;
    }
    
    #footer #perguntas,
    #footer #logo,
    #footer #linksfora {
        
        margin-bottom: 1%;
    }
    
    #footer #perguntas a {
        color: white;
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        display: block;
        margin-bottom: 5px;
    }
    
    #footer #perguntas a:hover {
        color: #FFF086;
    }
    
    /* Links externos */
    #footer #linksfora {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
    }
    
    #footer #linksfora #cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Layout de 2 colunas */
        grid-gap: 20px; /* Espaçamento entre os links */
        column-gap: 40px; /* Espaçamento lateral entre as colunas */
        
    }
    
    #footer #linksfora a {
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
    }
    
    #footer #linksfora a:hover,
    #footer #linksfora #Emailbotum:hover {
        color: #FFF086;
    }
    
    #footer #linksfora #Emailbotum {
        font-family: Arial, Helvetica, sans-serif;
        background: none;
        border: none;
        text-decoration: none;
        font-size: 1.2em;
        color: white;
        cursor: pointer;
        margin-left: -5px;
    }
    
    .copy {
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        margin-bottom: -5px;
        font-size: 18px;
        color: #fff;
    }
    
    /* Adicionando ícones nos links */
    #footer #linksfora li {
        list-style: none;
    }
    
    #footer #linksfora li#facefoo {
        list-style-image: url('../multimidia/icones/facebook.png');
    }
    
    #footer #linksfora li#instfoo {
        list-style-image: url('../multimidia/icones/instagram.png');
    }
    
    #footer #linksfora li#whatfoo {
        list-style-image: url('../multimidia/icones/whatsapp.png');
    }
    
    #footer #linksfora li#Emailfoo {
        list-style-image: url('../multimidia/icones/gmail.png');
    }
    
    
}


@media(max-width: 991px){

    #footer {
        /*  */
        background: #034f0a;
        background: linear-gradient(0deg, #034f0a 93%, rgba(3,116,14,1) 94%); 
        margin-bottom: -20px;
    }

    #footer #linksfora{
        
        margin-left: 34%;
        margin-right: 34%;
    }
    #footer #perguntas{
        padding-top: 60px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: -10;
    }

    #footer #logo{
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    #footer #cont{
        
        margin-bottom: 9%;
    }

    #footer #titulo {
        font-size: 1.4em;
        color: white;
        margin-bottom: 25%;
        margin-left: -8%;
    }

    #footer #linksfora #titulo{
        margin-left: -20%;
    }

    #footer #logo img{
        margin-top: -15px;
    }
    
    #footer #perguntas, #footer #logo, #footer #linksfora{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    
    /*editando links para seção de ajuda*/

    #footer #perguntas a {
        color: white;
        font-size: 1.2em;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        display: block;
        margin-bottom: 5px;
    }
    
    #footer #perguntas a:active {
        color: #FFF086;
    }
    
    /* Links externos */
    #footer #linksfora {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
    }  
    
    
        /*editando os links externos*/
    
            
    #footer #linksfora a {
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
      
    }
    
    #footer #linksfora a:active,
    #footer #linksfora #Emailbotum:active {
        color: #FFF086;
    }
    
    #footer #linksfora #Emailbotum {
        font-family: Arial, Helvetica, sans-serif;
        background: none;
        border: none;
        text-decoration: none;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
        margin-left: -5px;
    }


        
    .copy {
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        margin-bottom: -5px;
        font-size: 18px;
        color: #fff;
    }
    

    /* Adicionando ícones nos links */
    #footer #linksfora li {
        list-style: none;
    }
    
    #footer #linksfora li#facefoo {
        list-style-image: url('../multimidia/icones/facebook.png');
    }
    
    #footer #linksfora li#instfoo {
        list-style-image: url('../multimidia/icones/instagram.png');
    }
    
    #footer #linksfora li#whatfoo {
        list-style-image: url('../multimidia/icones/whatsapp.png');
    }
    
    #footer #linksfora li#Emailfoo {
        list-style-image: url('../multimidia/icones/gmail.png');
    }
    
}



/*config dicas*/
    @media(min-width: 992px){
                
        #dicas #tableDicas1{
            border:solid 2px #F6A507 ;
            margin-top: 5%;
            margin-bottom: 5%;
            border-radius: 8px;
            width: 450px;
        }
        #dicas #tableDicas2{
            border:solid 2px #F6A507 ;
            margin-top: 5%;
            margin-bottom: 5%;
            border-radius: 8px;
            width: 450px;
        }
        #dicas #tableDicas1{
            height: 120px;
            margin-left: 190px;
            margin-right: 75px;
        }

        #dicas #conteiner td {
            padding: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            letter-spacing: .03em;
            font-size: 14px;
            text-align: justify;
        }

        #dicas #conteiner #titulo {
            border: 2px solid #F6A507;
            border-top: 0px;
            border-right: 0;
            border-left: 0;
            text-align: center;
            padding: 5px;
            font-size: 23px;
            border-radius: 6px;
            font-family: Arial, Helvetica, sans-serif;
        }


        #dicas #conteiner{
            display: flex;
            justify-items: center;
        }

        #dicas #conteiner strong {
            font-size: 110%;
        }
 

    }


    @media(max-width: 991px){

        #dicas #tableDicas1{
            border:solid 2px #F6A507 ;
            margin-top: 5%;
            margin-bottom: 5%;
            border-radius: 8px;
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
        }
        #dicas #tableDicas2{
            border:solid 2px #F6A507 ;
            margin-top: 5%;
            margin-bottom: 5%;
            border-radius: 8px;
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
        }

        #dicas #conteiner td {
            padding: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            letter-spacing: .03em;
            font-size: 0.8em;
            text-align: justify;
        }

        #dicas #conteiner #titulo {
            border: 2px solid #F6A507;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            text-align: center;
            padding: 5px;
            font-size: 23px;
            border-radius: 6px;
            font-family: Arial, Helvetica, sans-serif;
        }


        

        #dicas #conteiner strong {
            font-size: 110%;
        }
 
    }





























@media(min-width: 992px){
            
    /* home config*/
    #home{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 50px;
    }

    #home .title{
        column-span: all;
        display: block;
        font-size: 1.8em;
    }

    #home #apresentacao{
        columns: 150px 2;
        column-gap: 20px;
        padding: 25px;
        margin-bottom: 100px;
        font-family: Verdana;
        text-align: justify;
    }

    #home #ads{
        display: flex;
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */
            
            margin: 0; 
    }

    #home #ads #logo{
        /* a logo que fica no home*/
        max-width: 100%; /* Mantém a imagem responsiva */
        height: auto;
        margin-bottom: 70px;
        border-radius: 6%; 
    }

    

    #home #foto1 #foto img{
        max-width: 100%; /* Mantém a imagem responsiva */
        height: auto;
    }
    
    #home #foto1 #foto{
        border: solid 2px #034F0A;
        padding: 15px 15px 10px 15px;
        border-radius: 8px;
        
    }
    
    #home #foto1 #foto #descricao {
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 0.9em;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #home #foto1 #text #menor:hover{
        color: #034F0A;
    }
    
}


@media(max-width: 991px){

           /* home config*/
    #home{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 50px;
        
    }

    #home .title{
        column-span: all;
        display: block;
        font-size: 1.8em;
    }

    #home #apresentacao{
        columns: 150px 2;
        column-gap: 20px;
        padding: 25px;
        margin-bottom: 100px;
        font-family: Verdana;
        text-align: justify;
    }

    #home #ads{
        display: flex;
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */
            
            margin: 0; 
    }

    #home #ads #logo{
        /* a logo que fica no home*/
        max-width: 100%; /* Mantém a imagem responsiva */
        height: auto;
        margin-bottom: 70px;
        border-radius: 6%; 
    }
    #home #foto1 #foto img{
        max-width: 100%; /* Mantém a imagem responsiva */
        height: auto;
    }
    
    

    
    #home #foto1 #foto{
        border: solid 2px #034F0A;
        padding: 15px 15px 10px 15px;
        border-radius: 8px;
        
    }
    
    #home #foto1 #foto #descricao {
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 0.9em;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #home #foto1 #text #menor:hover{
        color: #034F0A;
    } 
   

    
}











#foto2 #titulo google-logo {
    font-size: 1.8em;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
        }

        #foto2 .google-logo span {
        transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    /* Cores da logo do Google */
    #foto2 .g {
        color: #4285F4;
    }
    #foto2 .o1 {
        color: #EA4335;
    }
    #foto2 .o2 {
        color: #FBBC05;
    }
    #foto2 .g2 {
        color: #4285F4;
    }
    #foto2 .l {
        color: #34A853;
    }
    #foto2 .e {
        color: #EA4335;
    }

   

    #foto2 table {
width: 100%; /* Ajuste conforme necessário */
border: 1px solid;
border-radius: 10px;
border-collapse: collapse; /* Remove os espaços entre as bordas das células */
/* Removido a borda de 2px da tabela */
}

#foto2 th, #foto2 td {
padding: 10px; /* Espaçamento interno */
text-align: left; /* Alinhamento à esquerda para as células */
border: 2px solid #000; /* Borda de 2px nas células */

}

#foto2 th {
font-size: 1.5em; /* Aumenta o tamanho da fonte dos cabeçalhos */
background-color: #034F0A; /* Fundo verde escuro para os cabeçalhos */
color: #fff; /* Texto branco para contraste */
text-align: center; /* Centraliza o texto dos cabeçalhos */
text-decoration: none;
}

#foto2 table:hover th {
font-size: 2em; /* Aumenta ainda mais ao passar o mouse */
transition: font-size 0.3s ease; /* Suaviza a transição */
}



#home #foto2 #maps #imagem {
border-radius: 10px;
border:solid 1px #034F0A;

}







#home #avaliacao #tabel {
border: 2px solid #034F0A;

}

#home #avaliacao #tabel #titulo {
border: 2px solid #034F0A;
border-top: 0;
border-right: 0;
border-left: 0;
border-radius: 5px;
font-size: 1.2em;
padding: 13px;
background-color: #05660e;
padding: -1px;

text-shadow: 2px 2px 4px #272727;
}
#home #avaliacao #tabel #titulo #link{
text-decoration: none;
color:#ffffff;
}
#home #avaliacao #tabel #texto{
margin-left: 18px;
margin-right: 18px;
margin-top: 10px;
font-family: 'Times New Roman', Times, serif;
font-size: 1em;
text-align: justify;
}
#home #avaliacao {
margin-left: 80px;
margin-bottom: 50px;
}
#home #avaliacao a {
text-decoration: none;
color: white;
}





/* config login */

#pag_login #login {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#pag_login  .tableLogin {
    border-radius: 8px;
}


#pag_login  .tableLogin {
    background-color: #ffffff;
    border: 3px solid #F6A507;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

#pag_login  .tableLogin h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Inria Serif', serif;
    color: rgb(0, 0, 0);
    background: rgb(200,135,9);
background: linear-gradient(307deg, rgba(200,135,9,1) 17%, rgba(236,202,136,1) 51%, rgba(200,135,9,1) 81%);
    text-align: center;
    border-radius: 30px;
    height: 40px;
    width: 300px;
}

#pag_login  .tableLogin form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pag_login  .tableLogin label {
    align-self: flex-start;
    margin-bottom: 5px;
}

#pag_login  .tableLogin input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    color: #595959;
    border: 3px solid #F6A507;
}


#pag_login  .tableLogin button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: solid 1px #F6A507;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#pag_login  .tableLogin button:hover {
    
    border: solid 2px #F6A507;
    transform: scale(1.1); /* Aumenta o botão em 10% */
}

#pag_login  .tableLogin button:active {
    transform: scale(0.95); /* Efeito de clique */
    background-color: #FCDCB7;
}
 