* {
    font-size: 14px;
  }
  /* Estilos para a sidebar */
  .sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: -200px; 
    background-color: black; /* Cor do fundo */
    padding-top: 1px;
    transition: 0.3s ease; /* Transição suave */
  }

  .sidebar a {
    color: white; /* Cor do texto */
    padding: 5px;
    text-decoration: none;
    display: flex; /* Usando flexbox para alinhar ícones e texto */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 7px; /* Espaçamento entre os links */
    margin-left: 10px; /* Espaçamento à esquerda */
  }

  .sidebar a:hover {
    background-color: red; /* Efeito hover */
    color: white;
  }

  /* Adicionando margem aos ícones */
  .sidebar a i {
    margin-right: 20px; /* Distância entre ícone e texto */
  }

  /* Estilos para o conteúdo */
  .content {
    margin-left: 200px; /* Espaço para a sidebar */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    transition: margin-left 0.3s ease;
  }

  .sidebar.active {
    left: 0; /* Mostrar sidebar no mobile */
  }

  /* Desativar hover quando a sidebar estiver escondida */
  .sidebar:not(.active) a:hover {
    background-color: transparent; /* Remove o fundo */
    color: white; /* Mantém a cor do texto */
    cursor: default;
    height: 100px;
  }

  /* Ícone de sanduíche */
  .hamburger {
    font-size: 30px;
    color: #fff;
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 1000;
    cursor: pointer;
  }

  .flex-column {
      margin-top: 70px;
  }

  /* Mostrar o ícone de hambúrguer em todas as telas */
  @media (max-width: 768px) {
    .sidebar {
      left: -200px; /* Esconde a sidebar em telas pequenas */
    }
    .content {
      margin-left: 0; /* Remove a margem da sidebar em telas menores */
    }
    
    .content.active {
      margin-left: 200px; /* Empurrar o conteúdo para o lado */
    }
  }